/* body */

body {
    background-color: #e6e6e6;
}

/* nav */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #010e80;
    display: table;
    width: 100%;
}

nav li {
    display: table-cell;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover {
    background: #016780;
    color: white;
}

/* I'm not sure what this h2 a:hover is doing */

h2 a:hover {
    background-color: #b6b6b6;
}

/* figcaption */

figcaption {
    text-align: left;
}

/* header */

header {
    margin-left: 14px;
}